@charset "utf-8";
/* CSS Document */

/* Reset CSS */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../images/puzzle2.jpg');
    background-repeat: repeat;
    background-color: #333;
    color: #fff;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 16px;
}

/* Game Boards */
#game-boards {
    text-align: center;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 0 auto;
}

/* Puzzle Pieces and Puzzle Board */
.puzzle-pieces, .puzzle-board {
    margin-top: 40px;
    height: 400px;
    border: medium solid #333;
    background-color: #000;
    color: inherit;
    overflow: hidden;
}

.puzzle-pieces {
    width: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.puzzle-board {
    width: 600px;
    background-image: url('../images/backGround0.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;
}

/* Puzzle Image */
.puzzle-image {
    width: 40%;
    display: block;
    padding: 8px;
    cursor: pointer;
}

.puzzle-image:nth-child(even) {
    margin-left: auto;
}

/* Drop Zones */
.drop-zone {
    width: 50%;
    height: 50%;
    border: 1px dashed #ffffff;
    position: relative;
    overflow: hidden; /* Prevents resizing of dropped images */
}

.drop-zone img {
  padding: 0;
  position: absolute;
  width: 100%; 
  height: 100%; 
}


/* Positioning for Pieces */
.tl img { 
  position: absolute;
  top: 0px; 
  left: 0px; 
}

.tr img { 
  position: absolute;
  top: 0px; 
  right: 0px;
}

.bl img {
  position: absolute;
  bottom: 0px; 
  left: 0px; 
}


/* Header */
header {
    margin-top: 20px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 3.25em;
    letter-spacing: 3px;
    margin: 10px 0;
}

/* Footer */
footer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

footer p {
    font-size: 1.7em;
    letter-spacing: 2px;
    margin: 10px 0;
}

/* Button Holder */
#buttonHolder {
    margin: 0 auto;
    text-align: center;
}

#buttonHolder img {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    border: thin solid #333;
    cursor: pointer;
}

#buttonHolder img:hover {
    opacity: 0.5;
}

/* Reset Button */
#resetBut {
    border-color: rgb(255, 255, 255);
    background: rgb(45, 22, 216);
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

#resetBut:hover {
 background-color: green;
}